<div class="add-subjects">
  <div class="form">
    <h1>Add Subjects</h1>
    <form #addSubjectForm="ngForm" (ngSubmit)="addSubject(addSubjectForm.value)" class="common-form">
      <input class="form-input" type="text" ngModel name="subjectName" placeholder="Enter Subject Name">
      <input class="form-input" type="text" ngModel name="course" placeholder="Enter Course">
      <input class="form-input" type="number" ngModel name="sem" placeholder="Enter Semester">
      <input class="form-input" type="file" (change)="onFileSelected($event)"  name="image">
      <!-- <input class="form-input" type="file" ngModel  name="image"> -->
      <button class="form-button">Add Subject</button>
    </form>
  </div>
</div>
